
body {
  margin: 16px;
  font-family: Arial;
  padding-bottom: 1em;
}

#puzzle, #selectors, #challenge {
  margin: auto;
  width: calc(67px * 4);
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

.keys, #selectors {
  display: flex;
}

.keys > div:nth-of-type(1), .keys > div:nth-of-type(3)  {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.keys > div:nth-of-type(2), .keys > div:nth-of-type(4) {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

button {
  height: 44px;
  width: 44px;
  margin: 10px 10px;
  border: 2px solid grey;
  border-radius: 3px;
}

#selectors {
  justify-content: space-between;
  margin-top: 3em;
}

h2 {
  text-align: center;
}

ol {
  margin-left: -1em;
}

.hide {
  display: none;
}
